{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('https://images.unsplash.com/photo-1455849318743-b2233052fcff?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169&q=80')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>I'm Reed, a Python and Web Developer, a former Marine engineer, with a passion for crafting dynamic and user-friendly web applications. With a strong background in a variety of programming languages and technologies, I bring a unique perspective and set of skills to each project I work on. My ability to translate complex technical requirements into practical and elegant solutions has been honed through years of experience and a dedication to staying up-to-date with the latest industry trends.</p>
        <p>In my free time, I'm an avid reader and enjoy losing myself in a good book. I also have a passion for baking and love experimenting with new recipes in the kitchen. These hobbies have given me a well-rounded perspective and help me approach each challenge with a creative and problem-solving mindset. Whether working on a project or whipping up a batch of cookies, I'm always striving to bring my best effort and attention to detail.</p>
        <p>I started this blog as a platform to share my thoughts and insights on various topics that interest me, such as technology, AI, the economy, trends, politics, programming, and coding. Through my work as a developer and my hobbies as a reader and baker, I've come to appreciate the importance of staying informed and engaged with the world around me. With this blog, I hope to contribute to the larger conversation and inspire others to think critically about the issues that affect us all.</p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}